### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [12]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = r"c:\Users\mc66440\Desktop\PANDAS-Challenge\Resources\schools_complete.csv"
student_data_to_load = r"c:\Users\mc66440\Desktop\PANDAS-Challenge\Resources\students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [13]:
# Calculate the total number of schools

total_school_number = len(school_data_complete["school_name"].unique())

In [16]:
print (total_school_number)

15

In [17]:
# Calculate the total number of students

total_student_number = school_data_complete["school_name"].count()

In [18]:
print (total_student_number)

39170

In [19]:
# Calculate the total budget

total_budget = school_data["budget"].sum()

In [20]:
print (total_budget)

24649428

In [21]:
# Calculate the average maths score 

total_avg_maths_score = school_data_complete["maths_score"].mean()

In [22]:
print (total_avg_maths_score)

70.33819249425581

In [23]:
# Calculate the average reading score

total_avg_reading_score = school_data_complete["reading_score"].mean()

In [24]:
print (total_avg_reading_score)

69.98013786060761

In [25]:
# Calculate the percentage of students with a passing maths score (50 or greater)

total_students_math_pass = len(school_data_complete.loc [school_data_complete["maths_score"]>=50, :])

total_per_math_pass = total_students_math_pass/total_student_number

In [26]:
print (total_students_math_pass)

33717

In [27]:
# Calculate the percentage of students with a passing reading score (50 or greater)

total_students_read_pass = len(school_data_complete.loc [school_data_complete["reading_score"]>=50, :])

total_per_read_pass = total_students_read_pass/total_student_number

In [28]:
print (total_students_read_pass)

33070

In [29]:
# Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

total_st_pass_all = len(school_data_complete.loc [(school_data_complete["reading_score"]>=50 ) & (school_data_complete["maths_score"]>=50), :])

total_per_pass_all =  total_st_pass_all / total_student_number

In [30]:
print (total_st_pass_all)

28519

In [31]:
# Create a dataframe to hold the above results

total_budget = float(total_budget)


LGA_Dic = [{
            "Total Schools" :   total_school_number, 
            "Total Students":   total_student_number,
            "Total Budget"  :   total_budget,
            "Average Maths Score":  total_avg_maths_score,
            "Average Reading Score": total_avg_reading_score,
            "% Passing Maths"   :   total_per_math_pass,
            "% Passing Reading":    total_per_read_pass,
            "% Overall Passing" :   total_per_pass_all                  
            }]
LGA_Dic


LGA_DF = pd.DataFrame(LGA_Dic)

In [32]:
# Format data as per challenge requirement

LGA_DF["Total Students"] = LGA_DF["Total Students"].map("{:,}".format)
LGA_DF["Total Budget"] = LGA_DF["Total Budget"].map("${:,.2f}".format)
LGA_DF["% Passing Maths"] = LGA_DF["% Passing Maths"]*100
LGA_DF["% Passing Reading"] = LGA_DF["% Passing Reading"]*100
LGA_DF["% Overall Passing"] = LGA_DF["% Overall Passing"]*100

LGA_DF

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [33]:
# Creating a dataframe with the school infomation (school_data is the dataframe from one of the CSV files)

school_sum = school_data

# The Student Budget is the Budget per school divded by the total number of students (i.e budget/size)

school_sum["Per Student Budget"] = school_sum["budget"]/school_sum["size"]

# Creating a dataframe with the school infomation (student_data is the dataframe from one of the CSV files)

student_data_total = student_data

In [34]:
print (school_sum)

    School ID            school_name         type  size   budget  \
0           0      Huang High School   Government  2917  1910635
1           1   Figueroa High School   Government  2949  1884411
2           2    Shelton High School  Independent  1761  1056600
3           3  Hernandez High School   Government  4635  3022020
4           4    Griffin High School  Independent  1468   917500
5           5     Wilson High School  Independent  2283  1319574
6           6    Cabrera High School  Independent  1858  1081356
7           7     Bailey High School   Government  4976  3124928
8           8     Holden High School  Independent   427   248087
9           9       Pena High School  Independent   962   585858
10         10     Wright High School  Independent  1800  1049400
11         11  Rodriguez High School   Government  3999  2547363
12         12    Johnson High School   Government  4761  3094650
13         13       Ford High School   Government  2739  1763916
14         14     Thomas High School  Independent  1635  1043130

    Per Student Budget
0                655.0
1                639.0
2                600.0
3                652.0
4                625.0
5                578.0
6                582.0
7                628.0
8                581.0
9                609.0
10               583.0
11               637.0
12               650.0
13               644.0
14               638.0

In [35]:
print (student_data_total)

       Student ID     student_name gender  year         school_name  \
0               0     Paul Bradley      M     9   Huang High School
1               1     Victor Smith      M    12   Huang High School
2               2  Kevin Rodriguez      M    12   Huang High School
3               3    Richard Scott      M    12   Huang High School
4               4       Bonnie Ray      F     9   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F    12  Thomas High School
39166       39166        Dawn Bell      F    10  Thomas High School
39167       39167   Rebecca Tanner      F     9  Thomas High School
39168       39168     Desiree Kidd      F    10  Thomas High School
39169       39169  Carolyn Jackson      F    11  Thomas High School

       reading_score  maths_score
0                 96           94
1                 90           43
2                 41           76
3                 89           86
4                 87           69
...              ...          ...
39165             51           48
39166             81           89
39167             99           99
39168             72           77
39169             47           62

[39170 rows x 7 columns]

In [36]:
# 3 Columns created: 
#   Passed_math with a 1 if the score is greater or equal to 50 in Maths
#   Passed_reading with a 1 if the score is greater or equal to 50 in Reading
#   Passed_Overall with a 1 if the score is greater or equal to 50 in Maths and in Reading

student_data_total["Passed_math"] = [1 if score >= 50 else 0 for score in student_data["maths_score"]]

student_data_total["Passed_reading"] = [1 if score >= 50 else 0 for score in student_data["reading_score"]]

student_data_total["Passed_Overall"] = student_data_total["Passed_math"] * student_data_total["Passed_reading"]

In [38]:
# st2 contains a dataframe with data grouped by school_name (and then by the mean of the grouped values)

st2 = student_data_total.groupby("school_name").mean()

In [39]:
print (st2)

                       Student ID       year  reading_score  maths_score  \
school_name
Bailey High School        20358.5  10.371584      71.008842    72.352894
Cabrera High School       16941.5  10.386437      71.359526    71.657158
Figueroa High School       4391.0  10.371312      69.077993    68.698542
Ford High School          36165.0  10.330047      69.572472    69.091274
Griffin High School       12995.5  10.365123      71.245232    71.788147
Hernandez High School      9944.0  10.341316      69.186408    68.874865
Holden High School        23060.0  10.332553      71.660422    72.583138
Huang High School          1458.0  10.358930      68.910525    68.935207
Johnson High School       32415.0  10.350767      69.039277    68.843100
Pena High School          23754.5  10.356549      71.613306    72.088358
Rodriguez High School     28035.0  10.355089      70.935984    72.047762
Shelton High School        6746.0  10.354344      70.257808    72.034072
Thomas High School        38352.0  10.385321      69.768807    69.581651
Wilson High School        14871.0  10.377573      68.876916    69.170828
Wright High School        25135.5  10.368333      70.969444    72.047222

                       Passed_math  Passed_reading  Passed_Overall
school_name
Bailey High School        0.916399        0.873794        0.800844
Cabrera High School       0.908504        0.890743        0.807858
Figueroa High School      0.816548        0.828077        0.676501
Ford High School          0.824388        0.822198        0.674699
Griffin High School       0.912125        0.884877        0.813351
Hernandez High School     0.809493        0.818770        0.663646
Holden High School        0.899297        0.885246        0.789227
Huang High School         0.816935        0.814535        0.667124
Johnson High School       0.820626        0.819786        0.671918
Pena High School          0.916840        0.865904        0.792100
Rodriguez High School     0.907977        0.873968        0.794199
Shelton High School       0.915389        0.867121        0.788756
Thomas High School        0.838532        0.826300        0.694801
Wilson High School        0.827858        0.812965        0.674551
Wright High School        0.917778        0.866667        0.797222

In [40]:
# merge_dfx2 is the Student Data merged with the school type, size, budget and budget per student information

merge_dfx2 = pd.merge(st2,school_sum, on= "school_name")

In [41]:
# School_Summary_df_pres contains only the relevant columns as below:

School_Summary_df_pres = merge_dfx2 [["school_name", "type", "size", "budget", "Per Student Budget", "maths_score", "reading_score" , "Passed_math", "Passed_reading", "Passed_Overall" ]]

In [43]:
# School_Summary_df_pres column renaming to comply with the presentation requirements

School_Summary_df_pres = School_Summary_df_pres.rename(columns={"school_name": "School Name","type" : "School Type", "size" : "Total Students", "budget" : "Total School Budget", "maths_score" : "Average Maths Score", "reading_score": "Average Reading Score" , "Passed_math" : "% Passing Maths", "Passed_reading" : "% Passing Reading", "Passed_Overall": "% Overall Passing"})

In [44]:
# School_Summary_df_pres mapping to comply with the presentation requirements


School_Summary_df_pres["% Passing Maths"] = School_Summary_df_pres["% Passing Maths"]*100

School_Summary_df_pres["% Passing Reading"] = School_Summary_df_pres["% Passing Reading"]*100

School_Summary_df_pres["% Overall Passing"] = School_Summary_df_pres["% Overall Passing"]*100

School_Summary_df_pres2 = School_Summary_df_pres.copy(deep=True)

School_Summary_df_pres["Total School Budget"] = School_Summary_df_pres["Total School Budget"].map("${:,.2f}".format)

School_Summary_df_pres["Per Student Budget"] = School_Summary_df_pres["Per Student Budget"].map("${:,.2f}".format)

In [45]:
per_school_summary= School_Summary_df_pres

# Removing the index for presentation purposes

blankIndex=[''] * len(per_school_summary)
per_school_summary.index=blankIndex

per_school_summary

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
,Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
,Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
,Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
,Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
,Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
,Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
,Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
,Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
,Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
,Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
,Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
,Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
,Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
,Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
,Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [47]:
# Highest to Lowest Overall Passing Score

top_schools = per_school_summary.sort_values("% Overall Passing", ascending=False)

blankIndex=[''] * len(top_schools)
top_schools.index=blankIndex

# The top 5 schools

top_schools.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
,Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
,Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
,Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
,Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222
,Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [48]:
# Lowest to Highest Overall Passing Score

bottom_schools = per_school_summary.sort_values("% Overall Passing")

blankIndex=[''] * len(bottom_schools)
bottom_schools.index=blankIndex

# Top 5 schools (the lowest scores possible)

bottom_schools.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
,Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
,Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
,Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
,Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
,Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [49]:
# Serie for year 9

year_9 = school_data_complete.loc[(school_data_complete["year"]== 9 ) , :]

year_9_data = year_9.groupby("school_name").mean()

In [52]:
print (year_9)

       Student ID      student_name gender  year         school_name  \
0               0      Paul Bradley      M     9   Huang High School
4               4        Bonnie Ray      F     9   Huang High School
5               5     Bryan Miranda      M     9   Huang High School
12             12   Brittney Walker      F     9   Huang High School
13             13      William Long      M     9   Huang High School
...           ...               ...    ...   ...                 ...
39152       39152        Lori Moore      F     9  Thomas High School
39153       39153   William Hubbard      M     9  Thomas High School
39157       39157  Kristen Gonzalez      F     9  Thomas High School
39164       39164    Joseph Anthony      M     9  Thomas High School
39167       39167    Rebecca Tanner      F     9  Thomas High School

       reading_score  maths_score  School ID         type  size   budget
0                 96           94          0   Government  2917  1910635
4                 87           69          0   Government  2917  1910635
5                 88           93          0   Government  2917  1910635
12                76           81          0   Government  2917  1910635
13                73           88          0   Government  2917  1910635
...              ...          ...        ...          ...   ...      ...
39152             74           70         14  Independent  1635  1043130
39153             91           90         14  Independent  1635  1043130
39157             77           43         14  Independent  1635  1043130
39164             97           79         14  Independent  1635  1043130
39167             99           99         14  Independent  1635  1043130

[11408 rows x 11 columns]

In [53]:
# Serie for year 10

year_10 = school_data_complete.loc[(school_data_complete["year"]== 10 ) , :]

year_10_data = year_10.groupby("school_name").mean()

In [54]:
print (year_10)

       Student ID      student_name gender  year         school_name  \
8               8      Michael Roth      M    10   Huang High School
9               9    Matthew Greene      M    10   Huang High School
10             10  Andrew Alexander      M    10   Huang High School
11             11     Daniel Cooper      M    10   Huang High School
14             14      Tammy Hebert      F    10   Huang High School
...           ...               ...    ...   ...                 ...
39155       39155       John Brooks      M    10  Thomas High School
39158       39158     Kari Holloway      F    10  Thomas High School
39161       39161       April Reyes      F    10  Thomas High School
39166       39166         Dawn Bell      F    10  Thomas High School
39168       39168      Desiree Kidd      F    10  Thomas High School

       reading_score  maths_score  School ID         type  size   budget
8                 94           66          0   Government  2917  1910635
9                 64           77          0   Government  2917  1910635
10                50           66          0   Government  2917  1910635
11                66           89          0   Government  2917  1910635
14                80           79          0   Government  2917  1910635
...              ...          ...        ...          ...   ...      ...
39155             84           56         14  Independent  1635  1043130
39158             45           52         14  Independent  1635  1043130
39161             78           80         14  Independent  1635  1043130
39166             81           89         14  Independent  1635  1043130
39168             72           77         14  Independent  1635  1043130

[10168 rows x 11 columns]

In [59]:
# Serie for year 11

year_11 = school_data_complete.loc[(school_data_complete["year"]== 11 ) , :]

year_11_data = year_11.groupby("school_name").mean()

In [56]:
print (year_11)

       Student ID         student_name gender  year         school_name  \
6               6        Sheena Carter      F    11   Huang High School
15             15        Jordan Carson      M    11   Huang High School
22             22     Kimberly Stewart      F    11   Huang High School
24             24     Chelsea Griffith      F    11   Huang High School
28             28          Kelly James      F    11   Huang High School
...           ...                  ...    ...   ...                 ...
39156       39156  Stephanie Contreras      F    11  Thomas High School
39159       39159     Kimberly Cabrera      F    11  Thomas High School
39160       39160         Katie Weaver      F    11  Thomas High School
39163       39163           John Reese      M    11  Thomas High School
39169       39169      Carolyn Jackson      F    11  Thomas High School

       reading_score  maths_score  School ID         type  size   budget
6                 73           60          0   Government  2917  1910635
15                86           46          0   Government  2917  1910635
22                39           69          0   Government  2917  1910635
24                94           96          0   Government  2917  1910635
28                97           83          0   Government  2917  1910635
...              ...          ...        ...          ...   ...      ...
39156             52           96         14  Independent  1635  1043130
39159             68           74         14  Independent  1635  1043130
39160             47           95         14  Independent  1635  1043130
39163             79           86         14  Independent  1635  1043130
39169             47           62         14  Independent  1635  1043130

[9695 rows x 11 columns]

## Reading Score by Year

* Perform the same operations as above for reading scores

In [58]:
# Serie for Year 12

year_12 = school_data_complete.loc[(school_data_complete["year"]== 12 ) , :]

year_12_data = year_12.groupby("school_name").mean()

In [60]:
print (year_12)

       Student ID      student_name gender  year         school_name  \
1               1      Victor Smith      M    12   Huang High School
2               2   Kevin Rodriguez      M    12   Huang High School
3               3     Richard Scott      M    12   Huang High School
7               7      Nicole Baker      F    12   Huang High School
29             29      Nicole Brown      F    12   Huang High School
...           ...               ...    ...   ...                 ...
39137       39137   Victoria Bailey      F    12  Thomas High School
39144       39144  Cristian Webster      M    12  Thomas High School
39154       39154   Bradley Johnson      M    12  Thomas High School
39162       39162       Derek Weeks      M    12  Thomas High School
39165       39165      Donna Howard      F    12  Thomas High School

       reading_score  maths_score  School ID         type  size   budget
1                 90           43          0   Government  2917  1910635
2                 41           76          0   Government  2917  1910635
3                 89           86          0   Government  2917  1910635
7                 69           64          0   Government  2917  1910635
29                94           39          0   Government  2917  1910635
...              ...          ...        ...          ...   ...      ...
39137             52           65         14  Independent  1635  1043130
39144             99           53         14  Independent  1635  1043130
39154             98           42         14  Independent  1635  1043130
39162             88           72         14  Independent  1635  1043130
39165             51           48         14  Independent  1635  1043130

[7899 rows x 11 columns]

In [61]:
# To obtain the Maths Dataframe per year the 4 columns 

Maths_df = pd.concat([year_9_data.maths_score, year_10_data.maths_score, year_11_data.maths_score, year_12_data.maths_score ], axis = 1)

# For presentation purposes the columns are renamed to Year_i [i=9,10,11,12] and the index name removed to match the presentation requirements

Maths_df.columns.array[0] = "Year 9"
Maths_df.columns.array[1] = "Year 10"
Maths_df.columns.array[2] = "Year 11"
Maths_df.columns.array[3] = "Year 12"

Maths_df.index.name = ""

maths_scores_by_year = Maths_df

maths_scores_by_year

                          Year 9    Year 10    Year 11    Year 12

Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [62]:
# merge_dfx3 Contains all the students grades 

#   Passed_math with a 1 if the score is greater or equal to 50 in Maths
#   Passed_reading with a 1 if the score is greater or equal to 50 in Reading
#   Passed_Overall with a 1 if the score is greater or equal to 50 in Maths and in Reading

merge_dfx3 = pd.merge(student_data_total,school_sum, on= "school_name")

# Create the bins in which Data will be held
# Bins are 0, 585, 630, 645, 680.   
bins = [0, 585, 630, 645, 680]

# Create the names for the four bins
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

merge_dfx3["Spending Ranges(Per Student)"] = pd.cut(merge_dfx3["Per Student Budget"], bins, labels=group_names, include_lowest=True)

# School_Spending_df contains only the relevant columns:

School_Spending_df = merge_dfx3 [["Spending Ranges(Per Student)", "maths_score", "reading_score" , "Passed_math", "Passed_reading", "Passed_Overall" ]]

# # Creating a group based off of the bins
School_Spending_df = School_Spending_df.groupby("Spending Ranges(Per Student)").mean()

# School_Spending_df_pres column 

School_Spending_df_pres = School_Spending_df.rename(columns={"maths_score" : "Average Maths Score", "reading_score": "Average Reading Score" , "Passed_math" : "% Passing Maths", "Passed_reading" : "% Passing Reading", "Passed_Overall": "% Overall Passing"})

# School_Spending_df_pres 

School_Spending_df_pres["Average Maths Score"] = School_Spending_df_pres["Average Maths Score"].map("{:,.2f}".format)

School_Spending_df_pres["Average Reading Score"] = School_Spending_df_pres["Average Reading Score"].map("{:,.2f}".format)

School_Spending_df_pres["% Passing Maths"] = (School_Spending_df_pres["% Passing Maths"]*100).map("{:,.2f}".format)

School_Spending_df_pres["% Passing Reading"] = (School_Spending_df_pres["% Passing Reading"]*100).map("{:,.2f}".format)

School_Spending_df_pres["% Overall Passing"] = (School_Spending_df_pres["% Overall Passing"]*100).map("{:,.2f}".format)


spending_summary = School_Spending_df_pres

spending_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Spending Ranges(Per Student),,,,,
<$585,70.94,70.38,88.16,85.57,75.58
$585-630,72.17,70.97,91.56,87.35,79.96
$630-645,70.10,69.95,85.39,84.26,72.03
$645-680,68.88,69.06,81.56,81.82,66.77

## Scores by School Size

* Perform the same operations as above, based on school size.

In [63]:
# merge_dfx3 / dfx4 Contains all the students grades with the columns listed below as well as the school type, size, budget and budget per student information

dfx4 = merge_dfx3

#Bins to group by School 
# Bins are 0, 585, 630, 645, 680.   
bins2 = [0, 1000, 2000, 5000]

# Names for the four bins
group_names2 = ["Small(<1000)", "Medium(1000-2000)", "Large(2000-5000)"]

dfx4["School Size"] = pd.cut(dfx4["size"], bins2, labels=group_names2, include_lowest=True)

# School_Size_df contains only the columns as below:

School_Size_df = dfx4 [["School Size", "maths_score", "reading_score" , "Passed_math", "Passed_reading", "Passed_Overall" ]]

# # Creating a group 
School_Size_df = School_Size_df.groupby("School Size").mean()

# School_Size_df column renaming to comply with the presentation requirements

School_Size_df = School_Size_df.rename(columns={"maths_score" : "Average Maths Score", "reading_score": "Average Reading Score" , "Passed_math" : "% Passing Maths", "Passed_reading" : "% Passing Reading", "Passed_Overall": "% Overall Passing"})

School_Size_df["% Passing Maths"] = (School_Size_df["% Passing Maths"]*100)

School_Size_df["% Passing Reading"] = (School_Size_df["% Passing Reading"]*100)

School_Size_df["% Overall Passing"] = (School_Size_df["% Overall Passing"]*100)


size_summary= School_Size_df

size_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Size,,,,,
Small(<1000),72.240461,71.627790,91.144708,87.185025,79.121670
Medium(1000-2000),71.441798,70.724595,89.908472,86.740202,78.091997
Large(2000-5000),69.926450,69.685088,84.722649,83.622133,70.969616

## Scores by School Type

* Perform the same operations as above, based on school type

In [64]:
# Creating a group based 
School_Type_df = dfx4.groupby("type").mean()

# School_Type_df contains only the columns as below:
School_Type_df = dfx4 [["type", "maths_score", "reading_score" , "Passed_math", "Passed_reading", "Passed_Overall" ]]

# School_Type_df column renaming to comply with the presentation requirements
School_Type_df = School_Type_df.rename(columns={ "type" : "School Type" ,"maths_score" : "Average Maths Score", "reading_score": "Average Reading Score" , "Passed_math" : "% Passing Maths", "Passed_reading" : "% Passing Reading", "Passed_Overall": "% Overall Passing"})

# # Creating a group based 
School_Type_df = School_Type_df.groupby("School Type").mean()

# School_Type_df mapping to comply with the presentation requirements

School_Type_df["% Passing Maths"] = (School_Type_df["% Passing Maths"]*100)

School_Type_df["% Passing Reading"] = (School_Type_df["% Passing Reading"]*100)

School_Type_df["% Overall Passing"] = (School_Type_df["% Overall Passing"]*100)

type_summary = School_Type_df

type_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.990399,69.753485,84.886566,83.818950,71.267052
Independent,71.107594,70.481548,88.715762,85.771691,76.217812